
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
* {
    font-family: 'Lora', serif;
    --pink: #F2ACC6;
    --chick: #F2C094;
    --orange: #D95E32;
    --lightred: #D95B5B;
    --yellow: #F29E6D;
    --black:#1c1818;
    --white:#ffffff;
    margin: 0%;
    padding: 0%;
}
/* ----------------------here starts the header------------------- */
#header
{
    width: 100vw;
    height: 10vh;
    background-color: var(--lightred);
}
#list{
    height: 10vh;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 20px;
}
.hdr-itm {
    text-decoration: none;
    color: var(--chick);
    border: 2px solid var(--yellow);
    padding: 6px 15px;
    border-radius: 15px;
    cursor: pointer;
} 
.hdr-itm:hover{
    background-color: var(--yellow);
    border-radius: 15px;
    border: 2px solid var(--orange);
    color: var(--white);
}
/*---------------------------here starts the form----------------------*/

#main {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#mainform {
    background-color: var(--pink);
    width: 60vw;
    height: 70vh;
}
